body {
    background-color: rgb(27, 27, 27);
}

.jumbotron {
    background-color: rgb(27, 27, 27);
}

#caption {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#captionWhite {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    color: white;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: white;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    color: rgb(205, 226, 12);;
    text-align: left;
}

p {
    color: rgb(147, 202, 142);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
}

li {
    margin-left: 3%;
    color: rgb(205, 226, 12);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    color: white;
}

#overlay:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }