h1 {
    text-align: center;
}

p {
    margin: 30px;
    font: 120% Calibri Light;
    text-shadow: 1cm;
    overflow-wrap: normal;
}

form {
    text-align: center;
    font: 150% Calibri;
}

button {
    background-color: blue; /* Green */
    border: green;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 20px;
  }