h1 {
    font: Gabriola;
    text-align: center;
}

p {
    margin: 30px;
    font: 125% Calibri Light;
    text-shadow: 1cm;
    overflow-wrap: normal;
}

form {
    text-align: center;
    font: 150% Calibri;
}

button {
    background-color: blue;
    border: green;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 20px;
  }

body {
    line-height: 1.5;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: forestgreen;
    /*background-image: url("https://images.pexels.com/photos/235734/pexels-photo-235734.jpeg"); */
}