body, .jumbotron {
    background-color: rgb(27, 27, 27);
}

#caption {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
    color: black;
    text-align: center;
}

.contained {
    position: relative;
  }

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .transitional-opacity {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contained:hover .image {
    opacity: 0.3;
  }
  
  .contained:hover .transitional-opacity {
    opacity: 1;
  }

#sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#captionWhite {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
    color: white;
    text-align: center;
}

.text {
    font-size: 12pt;
}

h1 {
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

h2, h3{
    color: white;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    color: rgb(205, 226, 12);;
    text-align: left;
}

p {
    color: rgb(147, 202, 142);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
}

li {
    margin-left: 3%;
    color: rgb(205, 226, 12);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    color: white;
}