body {
    background-color: rgb(27, 27, 27);
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
}

p {
    color: rgb(227, 243, 135);
    padding-left: 5%;
    padding-right: 5%;
}

div {
    color: white;
}

.carousel-indicators {
    display: flex;
    justify-content: bottom;
    align-items: bottom;
    height: -100px;
}

.carousel-control-prev {
    left: 20%;
}

#quote {
    text-align: left;
    margin-left: 13%;
    margin-right: 8%;
    font-size: 60%;
}

#author {
    text-align: right;
    margin-left: 13%;
    margin-right: 8%;
    font-size: 60%;

}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

#target-intro{
    margin-top: 20px;
    margin-left: 150px;
    background-color: black;
    position: relative; 
    display: block;
}

#target{
    margin-top: 20px;
    margin-left: 150px;
    background-color: black;
    position: relative; 
    display: block;
}

#moving-target {
    margin-top: 20px;
    margin-left: 150px;
    background-color: black;
    position: relative; 
    display: block;
}

#results {
    text-align: left;
    color: white;
    padding-left: 35%;
}