body {
    background-color: black;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

#target_intro{
    margin-top: 20px;
    margin-left: 150px;
    background-color: black;
    position: relative; 
    display: block;
}

#target{
    margin-top: 20px;
    margin-left: 150px;
    background-color: black;
    position: relative; 
    display: block;
}

#moving_target {
    margin-top: 20px;
    margin-left: 150px;
    background-color: black;
    position: relative; 
    display: block;
}

.carousel-indicators{
    display: flex;
    justify-content: bottom;
    align-items: bottom;
    height: -100px;
   }

p {
    text-align: center;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

div {
    color: white;
}