table, th, td
{
  border:1px solid blue;
}

tr {
    color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    color: white;
}

div {
    color: white;
}

li {
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
